@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@500&family=Raleway:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@500&family=Raleway:ital,wght@1,100&display=swap');
body{
    background-color:rgb(0, 0, 0);
    box-sizing:border-box;
}
*{
    align-items: center;
    box-sizing: border-box;
}
.form{
    padding-top:0;
    background-image:url("https://img.freepik.com/free-photo/purple-yellow-abstract-texture_1017-5604.jpg?w=740&t=st=1687330339~exp=1687330939~hmac=1e1a055c64ad02938f49bb02f3c16bada29572e8b22a7b05726d973ba40af287");
    background-position: center;
    object-fit: cover;
}
.none{
    display:none;
}
.subs{
    color:white;
    
}
.mealType{
    display: flex;
    justify-content:center;
}
.hide p{
    color:rgb(214, 190, 239);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:26px;
    max-width: 280px;
    font-weight:1000;
}
.hide img{
    border-radius:20px;
}
.hide{
    justify-content: center;
    align-items:center;
    vertical-align: center;
}
.side-bar{
    margin:0;
    font-size:25px;
    color: white;
    font-weight:700;
    font-family: 'Raleway', sans-serif;
    display: inline-flex;
    flex-wrap: wrap;
    gap:5px;
}
.button{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:18px;
    border:none;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    padding:4px;
    border-radius: 5px;
    margin:5px;
}
.button:hover{
    background-image: linear-gradient(120deg, #b5e645 0%, #3de053 100%);
}
.two{
    max-width:250px;
    padding:5px;
    border-radius:10px;
}
.two h4{
    font-size:40px;
    text-transform: uppercase;
}
.one{
    display:flex;
    flex-direction: column;
    max-width:200px;
    text-transform: uppercase;
}
.error{
    display:flex;
    justify-content: center;
    margin:20px;
}
.error-img img{
    height:300px;
    width:300px;
}
.error-text{
    font-size:25px;
    color:pink;
}
.one img{
    border-radius:50%;
}
.one h4{
    font-size:50px;
}
.link{
    color:black;
    text-decoration:none;
    background-image: linear-gradient(to right, #fffbd5, #b20a2c);
    padding:5px;
    border-radius:5px;
}
.link:hover{
    background-image: linear-gradient(to right, #faf1a4, #500212);
}
.right{
    display:none;
}
.each-ingre{
    max-width:250px;
    padding:5px;
    border-radius:10px;
    font-size:20px;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb); 
}
.each-label{
    background-color: #500212;
}
.three h4{
    font-size: 35px;
    text-transform: uppercase;
}
.bone{
    display:none;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-image:  linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  }
  
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 50px #3c5bf7;
  }
.main-cheeze{
    display:flex;
    color:white;
    justify-content: space-around;
}
.three .each-label{
    display: flex;
    flex-direction: column;
    max-height:500px;
    overflow: scroll;
}
.footer{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    margin-bottom:0;
    background-color: rgb(95, 73, 95);
    position:fixed;
    width:100%;
    bottom:0;
    height: 30px;
}
.search-form{
    padding:0;
    transform: translateY(-10%);
}
.icon{
    height:40px;
    width:40px;
    border-radius: 50%;
    background-position: center;
}
.search-bar{
    background-color:black;
    font-size:20px;
    color:white;
    padding:8px;
    width:60%;
    border:none;
    border-radius:15px;
}
.search-bar1{
    background-color: transparent;
    transform: translateY(24%);
    border-radius:50%;
    border:none;
}
.search-bar1:hover{
    opacity: 0.8;
}
.recipes{
    display:inline-flex;
    flex-wrap: wrap;
    text-align:center;
    justify-content:center;
    background-color:transparent;
}
.food-card{
    border-radius:5px;
    margin-top:5%;
    border:1px solid rgb(213, 210, 210);
    width:60%;
    margin-left:20%;
    box-sizing:border-box;
    background-image:url("https://images.pexels.com/photos/2802527/pexels-photo-2802527.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size:cover;
    align-items:center;
    display:inline-flex;
    gap:10px;
}
.ingredients{
    margin:5%;
    background-color:wheat;
    border-radius:10px;
}
.image{
    object-fit: cover;
    background-position: center;
    border-radius:50%;
}
.title-name{
    padding:10px;
    margin-top:30px;
    text-align: center;
    width:200px;
    overflow-wrap:break-word;
    margin:1px;
    color:black;
    text-align: center;
    font-family:sans-serif;

}
.left{
    color:white;
    display:inline-flex;
    flex-wrap: wrap;
    text-align:center;
    justify-content:center;
    word-wrap: break-word;
    border:1px solid black;
    margin:40px;
    border-radius:5%;
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.82);
}
.left h4{
    color:white;
}
.one-ingre{
    align-items:center;
    display:inline-flex;
    margin:5px;
    max-width:150px;
    padding:6px;
}
.ingre-heading{
    text-decoration: underline;
    text-align:center;
}
.calories{
    margin:20px;
}
.info{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:18px;
    border:none;
    text-decoration: none;
    color:black;
    border-radius: 5px;
    font-weight: 600;
    padding-left:10px;
    padding-right:10px;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb); 

}
.info:hover{
    background-image: linear-gradient(to right, #f6345b, #3c5bf7);  
}
@media (max-width:1000px)
{
    .food-card{
        overflow: scroll;
    }
    .main-cheeze{
        display: flex;
        flex-direction: column;
    }
}
@media (max-widtg:600){
    .hide{
        width: fit-content;
        block-size: fit-content;
    }
    .food-card{
        width: fit-content;
        block-size: fit-content;
    }
    .main-cheeze{
        width: fit-content;
        block-size: fit-content;
    }
}